body{
    background-color:#000000;
    width:100%; 
    min-height: 100%;
    font-size:20px;
    color:rgb(255,255,255);
    border:3px solid #ffffff;
    font-family: Tahoma;
    
    }
    
    h1, p {
      text-align: center;
    }
  
  form {
    width: 60vw;
    max-width: 00px;
    min-width: 300px;
     margin: 0 auto; 
    padding-bottom: 16px;
   }
   fieldset {
    border: none;
    padding: 16px 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
   label {
      display:block;
      margin:16px 0;
    }
    input,
  textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
   padding: 16px 16px;
  }
  input{
    border-radius: 9px;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 16px auto;
    height: 16px;
    font-size: 16px;
    background-color: greenyellow;
    border-color: black;
    color: black;
  }
  input[type="radio"]{
    float:left;
    max-width:40px;
   
  }
   input[type="checkbox"]{
    float:left;
    max-width:40px;
  }
  
  
  textarea{
   background-color: black;
    color:white;
  }
  